* {
  background-color: brown;
}
.container {
  padding: 40px;
  height: 100vh; /*to make a div cover the full screen.*/
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; /*tems are placed vertically, from top to bottom.*/
}
#board {
  width: 466px;
  display: flex;
  flex-wrap: wrap; /*lex items stay on one line or wrap onto multiple lines if they exceed the container's width.*/
  margin-top: 40px;
}
.box {
  height: 150px;
  width: 150px;
  border-right: 8px solid;
  border-bottom: 8px solid;
  display: flex;
  color: rgb(8, 8, 23);
  justify-content: center;
  align-items: center;
  font-size: 80px;
  font-weight: bold;
}
/* .box:nth-child(3n) {
  border-right: none;
} */
.box:nth-child(6) ~ .box {
  border-bottom: none;
}
#\32,
#\35,
#\38 {
  border-right: none;
}
/* }                      \32 is the Unicode escape for 2
\35 is the Unicode escape for 5
\38 is the Unicode escape for 8 */

#restartBtn {
  width: 90px;
  height: 30px;
  border-radius: 25%;
  background-color: rgb(83, 83, 98);
  border: solid;
  transition: 200ms ease-in-out;
}
#restartBtn:hover {
  cursor: pointer;
  transform: translateY(2px);
}
